<template>
    <li>
        <a :href="ecom_cart_url">
            {{ $t('menus.cart') }}
        </a>
        <a :href="ecom_cart_url" class="quantity" v-if="cart.size() > 0">
            <i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>
            {{ cart.size() }}
        </a>
    </li>
</template>

<script>
    export default {
        name: "cart-widget",
        data() {
            return {
                ecom_cart_url: 'https://ecom.happeak.ru/store/joolz-russia/cart',
                cart: new EcomCart({
                    ecom_url: 'https://ecom.happeak.ru',
                    app_slug: 'joolz-russia',
                    onInit: function (cart) {
                        // this.$eventHub.$emit('cart-updated', cart);
                    },
                    onLoaded: function (cart) {
                        // this.$eventHub.$emit('cart-updated', cart);
                    },
                    onError: function (message, cart) {
                        alert('cart error: ' + message);
                    },
                    onAdded: function (id, cart) {
                        // this.$eventHub.$emit('cart-updated', cart);
                    }
                })
            }
        },
        created() {
            this.$eventHub.$on('add-to-cart', this.add)
        },
        methods: {
            add(product_id) {
                this.cart.add(product_id);
            },
        }
    }
</script>