<template>
    <button class="btn btn-green" @click.prevent="buy" v-if="!in_cart">{{ $t('interface.form.button.buy') }}</button>
    <a href="https://ecom.happeak.ru/store/joolz-russia/cart" class="btn btn-bordered-green" v-else>{{
        $t('interface.form.button.cart')}}</a>
</template>

<script>
    export default {
        name: "cart-button",
        props: {
            productId: {
                type: Number,
                required: true
            },
        },
        data() {
            return {
                in_cart: false
            }
        },
        methods: {
            buy() {
                this.$eventHub.$emit('add-to-cart', this.productId);
                this.in_cart = true;
            }
        }
    }
</script>